.headerBar>ul {
    padding: 0rem .75rem;
    width: 100%;
    position: absolute;
    z-index: 999;
    font-size: 0px;
}

.headerBar>ul>li {
    display: inline-block;
    height: 5rem;
    margin-top: 1.25rem;
    text-align: center;
    width: 25%;
}

.headerBar>ul>li>.stepCont {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
    line-height: 2.25rem;
    margin-bottom: .375rem;
    color: #e7e7e7;
}

.headerBar>ul>li>.stepCont>.succFlag {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.headerBar>ul>li>.title {
    color: #e7e7e7;
}

.headerBar>ul>li:first-child>.stepCont>.stepNum {
    display: none;
}

.headerBar>ul>li:first-child>.stepCont>.succFlag {
    display: block;
}

.headerBar>ul>.stepIndex>.stepCont>.succFlag {
    display: none;
}

#pageBox {
    top: 9.75rem;
}

#pageBox>.tipBox>.addText {
    text-align:center;
    font-size:1.125rem;
    font-weight:700
}

#nextBtn {
    width: 100%;
    border-radius: .375rem;
}


/* 1.0 医院公告内容弹窗 */

.commonTip>.tipBox {
    height: 21.875rem;
    overflow: auto;
    padding: 1.25rem 1.875rem;
}

.commonTip>.tipBox>.tipTitle {
    text-align: center;
    font-size: 1.25rem;
} 

.commonTip>.tipBox>.firstText {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: .375rem;
}

.commonTip>.tipBox>.tipText {
    font-size: 1rem;
    line-height: 1.25rem;
}

/* --------预约信息page1页面--------*/

#page1 .optionAbout>.flag>.text {
    padding-left: .5rem; 
}

#page1 .optionAbout>.price {
    color: #333333;
    font-size: 1rem;
    padding-left: .5rem;
    padding-bottom: .25rem;
}

/* #page1>.hospitalInfo>.more {
    display: none; //更多医院
} */

#page1 .agreeRule {
    margin-top: .75rem;
    vertical-align: middle;
    padding-bottom: 1.25rem;
}

#page1 .agreeRule>input {
    vertical-align: middle;
}

#page1 .agreeRule>.ruleAbout,
#page1 .agreeRule>.text {
    vertical-align: middle;
}

/* -------预约信息page2页面------- */
#page2>.baseInfo>.formItem>.zoomList>li,
#page3>.baseInfo>.formItem>.zoomList>li,
#page3>.baseInfo>.formItem>.zoomType>li {
    width: 45%;
    height: 2.625rem;
    line-height: 2.625rem;
}

#page2>.receiveInfo>.formItem>.labTitle>.addText {
    color: #999999
}

#expressArea>dl>.areaText {
    margin-left: 0.5rem;
}

/* -------预约信息page3页面------- */
.useTable>thead>tr>td {
    font-weight: 700;
}

.useTable>thead>tr>td.amountTitle {
    text-align: center;
}

.useTable>tbody>tr>td.price {
    color: red;
    font-weight: 700;
}

.useTable>tbody>tr>td.amount>.spinner {
    margin: 0 auto;
}

/* -------预约信息page4页面------- */

.selectTable>tbody>tr>td {
    text-align: left;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
}

.selectTable>tbody>tr>td.price {
    color: red;
    width: 30%;
    text-align: center;
}

.selectTable>tbody>tr>td.amount {
    width: 20%;
}

.selectTable>tbody>tr>td.type {
    width: 50%;
}

/* -------医院列表信息页面------- */

.hospitalContainer>.containerInner {
    top: 9.75rem;
}

.headerBar>.browser {
    padding: 1.25rem;
    margin-top: .625rem;
}

.headerBar>.browser>.express-area {
    height: 2.625rem;
    line-height: 2.625rem;
}

#expressArea {
    height: 2.625rem;
    line-height: 2.625rem;
}

#expressArea>dl {
    top: .1875rem;
}

#expressArea>dl>dd {
    margin-left: 7rem;
}

#expressArea>dl>dt, 
#expressArea>dl>dd {
    font-size: 1rem;
}

.hospitalList>.hospitalInfo>.typeBox {
    /* text-align: right; */
    margin-top: .5rem;
    padding-left: 3rem;
}

.hospitalList>.hospitalInfo>.typeBox>.type {
    margin-left: .375rem;
    border-radius: .25rem;
    font-size: .875rem;
}

.hospitalList>.hospitalInfo>.typeBox>.recordType {
    border: 1px solid #836FFF;
    padding: .375rem;
    color: #836FFF
}
.hospitalList>.hospitalInfo>.typeBox>.sendType {
    border: 1px solid chocolate;
    padding: .375rem;
    color: chocolate
}

.headerBar>.searchBox {
    padding: 1.875rem 1.875rem 0rem;
}

.hospitalList>.hospitalInfo {
    display: block;
}

