<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/mobileSelect/mobileSelect.css">
    <link rel="stylesheet" href="../css/jquery.spinner.css">
    <link rel="stylesheet" href="../lib/area/style.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/appointment.css">
    <title>预约病例</title>
    <style>
        /* 修改弹窗头部样式 */
        .layui-layer .layui-layer-title {
            color: #ffffff;
            font-size: 1.125rem;
            background-color: #836FFF;
        }
    </style>
</head>
<body>
    <div class="containerOut">
        <div class="headerBar">
            <ul><!-- 步骤流程进度条 -->
                <li class="step1 stepIndex">
                    <p class="stepCont">
                        <span class="stepNum">1</span>
                        <span class="succFlag glyphicon glyphicon-ok"></span>
                    </p>
                    <span class="title">选择方案</span>
                </li>
                <li class="step2 stepIndex">
                    <p class="stepCont">
                        <span class="stepNum">2</span>
                        <span class="succFlag glyphicon glyphicon-ok"></span>
                    </p>
                    <span class="title">信息填写</span>
                </li>
                <li class="step3 stepIndex">
                    <p class="stepCont">
                        <span class="stepNum">3</span>
                        <span class="succFlag glyphicon glyphicon-ok"></span>
                    </p>
                    <span class="title">复印用途</span>
                </li>
                <li class="step4 stepIndex">
                    <p class="stepCont">
                        <span class="stepNum">4</span>
                        <span class="succFlag glyphicon glyphicon-ok"></span>
                    </p>
                    <span class="title">提交支付</span>
                </li>
            </ul>
        </div>
        <div class="containerInner pageCont" id="pageBox">
            <div id="page1" class="stepPage" style="display: none">
                <div class="baseInfo hospitalInfo">
                    <img src="" alt="" class="hospitalIcon">
                    <span class="hospitalName"></span>
                    <a href="./hospitalList.html" class="more">更多医院<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="baseInfo">
                    <p class="title">服务方案</p>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>获取病历方式</p>
                        <div class="content clearfix" id="goodsList">
                            <label for="left" class="left fl optionAbout">
                                <p class="flag">
                                    <span class="text">方案1</span>
                                </p>
                                <p class="price">预约自提</p>
                                <input class="selectBtn" type="radio" id="left" name="plan">
                            </label>
                            <label for="right" class="right fr optionAbout">
                                <p class="flag">
                                    <span class="text">方案2</span>
                                </p>
                                <p class="price">邮寄</p>
                               <input class="selectBtn" type="radio" id="right" name="plan">
                            </label>
                        </div>
                    </div>
                    <!-- <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>业务类型选择</p>
                        <div class="content clearfix" id="goodsList">
                            <label for="left" class="left fl optionAbout">
                                <p class="flag">
                                    <span class="text">类型1</span>
                                </p>
                                <p class="price">住院病历</p>
                                <input class="selectBtn" type="radio" id="left" name="plan">
                            </label>
                            <label for="right" class="right fr optionAbout">
                                <p class="flag">
                                    <span class="text">类型2</span>
                                </p>
                                <p class="price">其它病例</p>
                               <input class="selectBtn" type="radio" id="right" name="plan">
                            </label>
                        </div>
                    </div> -->
                </div>
                <div class="customInfo">
                    <p class="title">咨询方式</p>
                    <div class="formItem clearfix">
                        <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">业务负责人<span class="name">王小姐</span></span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> <span class="text"></span></span>
                        </p>
                    </div>
                </div>
                <div class="tipBox">
                    <p class="tipTitle">方案说明</p><br>
                    <p class="tipText">方案一：</p>
                    <p class="tipText">病案室复印完病历后,下发自提通知给用户,用户收到自提通知后,凭自提码去病案室窗口提取病历(请在病案室工作时间内前往)</p><br>
                    <p class="tipText">方案二：</p>
                    <p class="tipText">为保证及时收到,请确保收件地址准确无误,快递公司由EMS承揽</p>
                </div>
                <div class="agreeRule">
                    <input type="checkbox" checked> <span class="text">我已阅读并接受</span><a href="javascript:void" class="ruleAbout">《病案复印申请协议》</a>
                </div>
            </div>
            <div id="page2" class="stepPage" style="display: block">
                <div class="baseInfo">
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>姓名<span class="addText">(患者)</span> </p>
                        <input class="placeholderText companyName" type="text" placeholder="请输入患者姓名">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>证件号<span class="addText">(患者)</span> </p>
                        <input class="placeholderText companyName" type="text" placeholder="请输入患者证件号">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>住院号</p>
                        <input class="placeholderText companyName" type="text" placeholder="住院号示例: 01500112">
                    </div>
                    <!-- <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>病区/科室</p>
                        <input class="placeholderText companyName" type="text" placeholder="请输入患者病区或科室">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>出院状态</p>
                        <ul class="zoomList" id="bankBox">
                            <li>已出院</li>
                            <li>未出院</li>
                        </ul>
                    </div> -->
                    <div class="formItem">
                        <p class="labTitle">入院时间</p>
                        <input id="startDate" class="placeholderText" type="text" placeholder="请输入入院时间">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>出院时间</p>
                        <input id="endDate" class="placeholderText" type="text" placeholder="请输入出院时间">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>证件类型</p>
                        <ul class="zoomList" id="area">
                            <li>身份证</li>
                            <li>身份证 (代办)</li>
                            <li>未成年(代办)</li>
                            <li>死亡 (代办)</li>
                        </ul>
                    </div>
                    <div class="formItem clearfix">
                        <p class="labTitle"><span class="isRequired">*</span>上传资料<br>
                            <span class="addText">
                                ( 1.请注意第一张是"身份证正面",第二张是"手持身份证正面",第三张是"出院结账发票";2.照片拍照时确保"身份证"所有信息清晰可见;3.照片需免冠,手持身份证正面"五官必须清晰可见",身份证与身体保持平行,并且靠近摄像头,建议不要化妆 )
                            </span>
                        </p>
                        <div class="uploadBox fl fileBox licenseUpload">
                            <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                            <img src="" alt="" class="showImg">
                            <p class="typeText">身份证正面</p>
                        </div>
                        <div class="uploadBox fr fileBox legalId1Upload isShowItem">
                            <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                            <img src="" alt="" class="showImg">
                            <p class="typeText">身份证反面</p>
                        </div>
                        <div class="uploadBox fl fileBox legalId2Upload isShowItem">
                            <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                            <img src="" alt="" class="showImg">
                            <p class="typeText">出院结账发票</p>
                        </div>
                        <!-- <div class="uploadBox fr fileBox adminId1Upload isShowItem">
                            <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                            <img src="" alt="" class="showImg">
                            <p class="typeText">身份正面<span class="requiredFlag">*</span></p>
                        </div>
                        <div class="uploadBox fl fileBox adminId2Upload isShowItem">
                            <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                            <img src="" alt="" class="showImg">
                            <p class="typeText">身份证反面<span class="requiredFlag">*</span></p>
                        </div> -->
                    </div>
                </div>
                <div class="receiveInfo">
                    <p class="title">收件人信息</p>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>&nbsp;收件人姓名</p>
                        <input class="placeholderText receiverName" type="text" placeholder="请输入收件人姓名">
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系电话</p>
                        <input class="placeholderText receiverTel" type="text" placeholder="请输入收件人联系电话">
                    </div>
                    <div class="formItem">
                        <p class="labTitle">
                            <span class="isRequired">*</span>&nbsp;收件地址<br>
                            <!-- <span class="addText"> (省市区请在下面选择,不要手动输入)</span> -->
                         </p>
                        <div class="browser">
                            <!--选择地区-->
                            <section class="express-area">
                                <a id="expressArea" href="javascript:void(0)">
                                    <dl>
                                        <!-- <dt> 所在地区</dt> -->
                                        <dd class="areaText">省 > 市 > 区/县</dd>
                                    </dl>
                                </a>
                            </section>
                            <!--选择地区弹层-->
                            <section id="areaLayer" class="express-area-box">
                                <header>
                                    <h3>选择地区</h3>
                                    <a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
                                    <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
                                </header>
                                <article id="areaBox">
                                    <ul id="areaList" class="area-list"></ul>
                                </article>
                            </section>
                            <!--遮罩层-->
                            <div id="areaMask" class="mask"></div>
                        </div>
                        <input class="placeholderText receiverAdd" type="text" placeholder="详细地址: 如街道、小区、门牌号、楼栋号">
                    </div>
                </div>
                <!-- <div class="tipBox">
                    <p class="tipTitle">温馨提示</p><br>
                    <p class="tipText">一、拍照注意事项</p>
                    <p class="tipText">1.请注意第一张是"身份证正面",第二张是"手持身份证正面",第三张是"出院结账发票"</p>
                    <p class="tipText">2.照片拍照时确保"身份证"所有信息清晰可见</p>
                    <p class="tipText">3.照片需免冠,手持身份证正面"五官必须清晰可见",身份证与身体保持平行,并且靠近摄像头,建议不要化妆</p>                               
                </div>  -->
            </div>
            <div id="page3" class="stepPage" style="display: none">
                <div class="baseInfo">
                    <p class="title">复印内容</p>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>&nbsp;选择用途</p>
                        <!-- <table class="table useTable">
                            <thead>
                                <tr>
                                    <td>名称</td>
                                    <td>单价</td>
                                    <td class="amountTitle">数量</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="type">常规</td>
                                    <td class="price">￥30</td>
                                    <td class="amount">
                                        <input type="text" class="spinnerExample"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="type">其它用途1</td>
                                    <td class="price">￥25</td>
                                    <td class="amount">
                                        <input type="text" class="spinnerExample"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="type">其它用途2</td>
                                    <td class="price">￥35</td>
                                    <td class="amount">
                                        <input type="text" class="spinnerExample"/>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table> -->
                        <ul class="zoomType" id="useType">
                            <li>常规</li>
                            <li>其它用途1</li>
                            <li>其它用途2</li>
                            <li>其它用途3</li>
                        </ul>
                    </div>
                    <div class="formItem">
                        <p class="labTitle"><span class="isRequired">*</span>复印份数<span class="addText"> (份)</span> </p>
                        <input class="placeholderText amount" type="number" placeholder="请输入需要复印的份数">
                    </div>
                    <div class="formItem">
                        <p class="labTitle">患者留言</p>
                        <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="您对申请的特殊要求 (选填)"></textarea>
                    </div>
                </div>
                <div class="userRule">
                    <input type="checkbox" checked> 我已阅读并接受<a href="javascript:void" class="ruleAbout">《用户使用条款》</a>
                </div>
            </div>
            <div id="page4" class="stepPage" style="display: none">
                <div class="orderInfo">
                    <p class="title">申请信息</p><br>
                    <div class="content clearfix">
                        <p class="orderItem">
                            <span class="labTitle">就医医院<span class="colon">:</span></span>
                            <span class="labContent tradeMarkName">郑州大学第一附属医院</span>
                        </p>
                        <p class="orderItem">
                            <span class="labTitle">患者姓名<span class="colon">:</span></span>
                            <span class="labContent applicationType">蒋为民</span>
                        </p>
                        <p class="orderItem">
                            <span class="labTitle">证件类型<span class="colon">:</span></span>
                            <span class="labContent applicationType">身份证</span>
                        </p>
                        <p class="orderItem">
                            <span class="labTitle">证件号码<span class="colon">:</span></span>
                            <span class="labContent applicationType">420281198623464534</span>
                        </p>
                        <p class="orderItem">
                            <span class="labTitle">入院时间<span class="colon">:</span></span>
                            <span class="labContent productLimt">2019-05-25</span>
                        </p>    
                        <p class="orderItem">
                            <span class="labTitle">出院时间<span class="colon">:</span></span>
                            <span class="labContent contactTel">2019-08-16</span>
                        </p>   
                        <p class="orderItem">
                            <span class="labTitle">获取病历方式<span class="colon">:</span></span>
                            <span class="labContent contactTel">邮寄</span>
                        </p>   
                        <p class="orderItem">
                            <span class="labTitle">上传图片资料<span class="colon">:</span></span>
                        </p>   
                        <div class="orderItem isShowItem legal1Item uploadFile">
                            <span class="labTitle">患者身份证正面</span>
                            <p class="labContent legal1_img">
                                <img class="showImg" src='../img/userIcon01.jpg' alt="">
                             </p>
                         </div>
                        <div class="orderItem isShowItem legal2Item uploadFile">
                            <span class="labTitle">患者手持身份证正面</span>
                            <p class="labContent legal2_img">
                                <img class="showImg" src='../img/userIcon02.jpg' alt="">
                             </p>
                         </div>  
                        <div class="orderItem isShowItem legal2Item uploadFile">
                            <span class="labTitle">出院小结报告</span>
                            <p class="labContent legal2_img">
                                <img class="showImg" src='../img/userIcon03.jpg' alt="">
                             </p>
                         </div>  
                    </div>
                </div>
                <div class="orderInfo">
                    <p class="title">复印用途</p><br>
                    <div class="content">
                        <table class="w100 selectTable">
                            <tbody>
                                <tr class="useItem">
                                    <td class="type">常规</td>
                                    <td class="amount">×1</td>
                                    <td class="price">￥30</td>
                                </tr>
                                <tr class="useItem">
                                    <td class="type">其它用途1</td>
                                    <td class="amount">×1</td>
                                    <td class="price">￥25</td>
                                </tr>
                                <tr class="useItem">
                                    <td class="type">其它用途2</td>
                                    <td class="amount">×1</td>
                                    <td class="price">￥35</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="orderInfo">
                    <p class="title">收货信息</p><br>
                    <div class="content">
                        <p class="orderItem">
                            <span class="labTitle">收件人<span class="colon">:</span></span>
                            <span class="labContent contactTel">张龙</span>
                        </p>   
                        <p class="orderItem">
                            <span class="labTitle">联系电话<span class="colon">:</span></span>
                            <span class="labContent contactTel">18603059551</span>
                        </p>   
                        <p class="orderItem">
                            <span class="labTitle">收件地址<span class="colon">:</span></span>
                            <span class="labContent contactTel">深圳市龙华新区龙华街道办</span>
                        </p>   
                    </div>
                </div>
            </div>
        </div>
        <div class="paymentBox clearfix">
            <span class="fl payInfo submitPay">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
            </span>
            <a href="javascript:void(0)" class="fr paymentBtn submitPay">微信支付</a>
            <a href="javascript:void(0)" class="fr paymentBtn " id="nextBtn">下一步</a>
        </div>
    </div>
    <!-- page1 医院公告内容弹窗 -->
    <div id="rulesText" class="commonTip" style="display:none">
        <div class="tipBox">
            <p class="tipTitle">公告</p><br>
            <!-- <p class="firstText">尊敬的患者和家属您好:</p> -->
            <p class="tipText"></p>
        </div>
    </div>
    <!-- page2 用户使用条款弹窗 -->
    <div id="userRuleText" class="commonTip" style="display:none">
        <div class="tipBox">
            <p class="tipTitle">用户使用条款</p><br>
            <p class="firstText">尊敬的患者和家属您好:</p>
            <p class="tipText">方案一：</p>
            <p class="tipText">病案室复印完病历后,下发自提通知给用户,用户收到自提通知后,凭自提码去病案室窗口提取病历(请在病案室工作时间内前往)</p><br>
            <p class="tipText">方案二：</p>
            <p class="tipText">为保证及时收到,请确保收件地址准确无误,快递公司由EMS承揽</p>
            <p class="tipTitle">申请须知</p><br>
            <p class="tipText">方案一：</p>
            <p class="tipText">病案室复印完病历后,下发自提通知给用户,用户收到自提通知后,凭自提码去病案室窗口提取病历(请在病案室工作时间内前往)</p><br>
            <p class="tipText">方案二：</p>
            <p class="tipText">为保证及时收到,请确保收件地址准确无误,快递公司由EMS承揽</p>
            <p class="tipTitle">申请须知</p><br>
            <p class="tipText">方案一：</p>
            <p class="tipText">病案室复印完病历后,下发自提通知给用户,用户收到自提通知后,凭自提码去病案室窗口提取病历(请在病案室工作时间内前往)</p><br>
            <p class="tipText">方案二：</p>
            <p class="tipText">为保证及时收到,请确保收件地址准确无误,快递公司由EMS承揽</p>
            <p class="endText"></p>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../lib/mobileSelect/mobileSelect.js"></script>
<script src="../lib/mobileSelect/selectDate.js"></script>
<script src="../js/jquery.spinner.js"></script>
<script src="../lib/area/jquery.area.js"></script>
<script src="../js/common.js"></script>
<script>
    $(function(){
        var baseUrl= 'http://49.235.145.4:81';
        // 获取医院信息方法
        function hospitalInfo(id) {
            $.ajax({
                url: baseUrl+'/api/hospital/'+id,
                type: 'GET',
                success: function(res){
                    $('.hospitalInfo .hospitalIcon').attr('src','http://49.235.145.4:81'+res.logo);
                    $('.hospitalInfo .hospitalName').text(res.name);
                    $('#rulesText>.tipBox>.tipText').text(res.notice);
                    $('.customInfo .customBox .title>.name').text(res.sender);
                    $('.customInfo .customBox .tel>.text').text(res.senderMobile);
                }
            })
        }
        
        var hospitalId= getUrlParam('hospitalId')?getUrlParam('hospitalId'):"1";
        hospitalInfo(hospitalId) // 根据id获取医院信息




        // 点击下一步
        var pageIndex= 1;
        $('#nextBtn').on('click',function(){
            if(pageIndex<4) {
                $('#pageBox .stepPage').css('display','none');
                $('#pageBox .stepPage:eq('+pageIndex+')').css('display','block');
                $('.headerBar>ul>li:eq('+pageIndex+')').slice(0,pageIndex+1).find('.stepCont>.stepNum').css('display','none'); // 隐藏流程数字
                $('.headerBar>ul>li:eq('+pageIndex+')').slice(0,pageIndex+1).find('.stepCont>.succFlag').css('display','block'); // 显示当前完成状态标识
                pageIndex++;
                if(pageIndex == 4) {
                    $('#nextBtn').css('dispay','none');
                    $('.paymentBox>.submitPay').css('display','block');
                }
            }else {
                layer.msg('功能开发中...业务办理请联系客服')
                return;
            }
        })

        // 提交支付

        // 医院公告内容弹窗
        $('.agreeRule').on('click','.ruleAbout',function(){
            layer.open({
                type:'1',
                content: $('#rulesText')
            })
        })

        // 用户使用条款内容弹窗
        $('.userRule').on('click','.ruleAbout',function(){
            layer.open({
                type:'1',
                content: $('#userRuleText')
            })
        })

        // 选择入院时间
        $.selectDate("#startDate",{
            start:2000,
            end:2099,
            select:[2020,5,6],
            title:'入院时间'
        },function (data) {
        });

        $("#startDate").focus(function(){
            document.activeElement.blur();
        });

        // 选择出院时间
        $.selectDate("#endDate",{
            start:2000,
            end:2099,
            select:[2020,5,6],
            title:'出院时间'
        },function (data) {
        });

        $("#endDate").focus(function(){
            document.activeElement.blur();
        });
       
        // 复印用途计数
        $('.spinnerExample').spinner({})

        $('#useType').on('click','li',function(e){
            $(this).toggleClass('checkedItem');
        })
    })
</script>
