<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../lib/area/style.css"> -->
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/appointment.css">
    <title>医院列表</title>
</head>
<body>
    <div class="containerOut hospitalContainer">
        <div class="headerBar">
            <div class="row searchBox">
                <div class="col-lg-6">
                    <div class="input-group">
                    <input type="text" list="provincesList" class="form-control searchText" placeholder="请输入要查询的省份或医院">
                    <datalist id="provincesList">
                            <!-- 省份 -->
                    </datalist>
                    <span class="input-group-btn" id="searchBtn">
                        <button class="btn btn-default" type="button">查询</button>
                    </span>
                    </div>
                </div>
            </div>
            <!-- <div class="browser">
                <section class="express-area">
                    <a id="expressArea" href="javascript:void(0)">
                        <dl>
                            <dt><span class="glyphicon glyphicon-map-marker"></span> 选择地区：</dt>
                            <dd>省 > 市 > 区/县</dd>
                        </dl>
                    </a>
                </section>
                <section id="areaLayer" class="express-area-box">
                    <header>
                        <h3>选择地区</h3>
                        <a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
                        <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
                    </header>
                    <article id="areaBox">
                        <ul id="areaList" class="area-list"></ul>
                    </article>
                </section>
                <div id="areaMask" class="mask"></div>
            </div> -->
        </div>
        <div class="containerInner">
            <div id="hospitalBox" class="hospitalList clearfix">
                <!-- 医院列表 -->
            </div>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<!-- <script src="../lib/area/jquery.area.js"></script> -->
<script src="../js/common.js"></script>
<script>
    $(function(){
        // 医院分布省份
        var provinceTypeNameNew= [];
        var provinceTypeNew= [];
        var provinceListNew= [];

        // 获取所有医院列表方法
        function getHospitalList(flag) {
            $.ajax({
                url: baseUrl+'/api/hospital/list',
                type: 'GET',
                success: function(res) {
                    $('#hospitalBox').empty();
                    for (var i = 0; i < res.length; i++) {
                        if(res[i].isHot == "1") { // 热门医院
                            var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?isMore=0&hospitalId='+res[i].id+'">'+
                                                '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                '<span class="hospitalName">'+res[i].name+'</span>'+
                                                '<p class="typeBox">'+
                                                    '<span class="recordType type">热门医院</span>'+
                                                    '<span class="sendType type">邮寄</span>'+
                                                    '<span class="sendType type">自提</span>'+
                                                    '<!-- <span class="sendType type">预约自提</span> -->'+
                                                '</p>'+
                                            '</a>'
    
                            $('#hospitalBox').append(hospitalItem);
                        }else if(res[i].isHot == "2") { // 非热门医院
                            if(flag == "hot") {
                                continue;
                            }else {
                                var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?hospitalId='+res[i].id+'">'+
                                                    '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                    '<span class="hospitalName">'+res[i].name+'</span>'+
                                                    '<p class="typeBox">'+
                                                        '<!-- <span class="recordType type">非热门医院</span> -->'+
                                                        '<span class="sendType type">邮寄</span>'+
                                                        '<span class="sendType type">自提</span>'+
                                                        '<!-- <span class="sendType type">预约自提</span> -->'+
                                                    '</p>'+
                                                '</a>'
        
                                $('#hospitalBox').append(hospitalItem);
                            }

                        }
                        
                    }
                }
            })
        }

        // 获取查询的医院名称方法
        function getHospitalName(hospitalName) {
            $.ajax({
                url: baseUrl+'/api/hospital/list?name='+hospitalName,
                type: 'GET',
                success: function(res) {
                    $('#hospitalBox').empty();
                    for (var i = 0; i < res.length; i++) {
                        if(res[i].isHot == "1") { // 热门医院
                            var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?hospitalId='+res[i].id+'">'+
                                                '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                '<span class="hospitalName">'+res[i].name+'</span>'+
                                                '<p class="typeBox">'+
                                                    '<span class="recordType type">热门医院</span>'+
                                                    '<span class="sendType type">邮寄</span>'+
                                                    '<span class="sendType type">自提</span>'+
                                                    '<!-- <span class="sendType type">预约自提</span> -->'+
                                                '</p>'+
                                            '</a>'
    
                            $('#hospitalBox').append(hospitalItem);
                        }else if(res[i].isHot == "2") { // 非热门医院
                            var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?hospitalId='+res[i].id+'">'+
                                                    '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                    '<span class="hospitalName">'+res[i].name+'</span>'+
                                                    '<p class="typeBox">'+
                                                        '<!-- <span class="recordType type">住院病历</span> -->'+
                                                        '<span class="sendType type">邮寄</span>'+
                                                        '<span class="sendType type">自提</span>'+
                                                        '<!-- <span class="sendType type">预约自提</span> -->'+
                                                    '</p>'+
                                                '</a>'
        
                            $('#hospitalBox').append(hospitalItem);
                        }
                        
                    }
                }
            })
        }

        // 获取查询的省份医院方法
        function getHospitalprovince(provinceType) {
            $.ajax({
                url: baseUrl+'/api/hospital/list?type='+provinceType,
                type: 'GET',
                success: function(res) {
                    $('#hospitalBox').empty();
                    for (var i = 0; i < res.length; i++) {
                        if(res[i].isHot == "1") { // 热门医院
                            var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?hospitalId='+res[i].id+'">'+
                                                '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                '<span class="hospitalName">'+res[i].name+'</span>'+
                                                '<p class="typeBox">'+
                                                    '<span class="recordType type">热门医院</span>'+
                                                    '<span class="sendType type">邮寄</span>'+
                                                    '<span class="sendType type">自提</span>'+
                                                    '<!-- <span class="sendType type">预约自提</span> -->'+
                                                '</p>'+
                                            '</a>'
    
                            $('#hospitalBox').append(hospitalItem);
                        }else if(res[i].isHot == "2") { // 非热门医院
                            var hospitalItem= '<a class="baseInfo hospitalInfo" href="./appointment.html?hospitalId='+res[i].id+'">'+
                                                    '<img src="'+res[i].logo+'" alt="" class="hospitalIcon">'+
                                                    '<span class="hospitalName">'+res[i].name+'</span>'+
                                                    '<p class="typeBox">'+
                                                        '<!-- <span class="recordType type">住院病历</span> -->'+
                                                        '<span class="sendType type">邮寄</span>'+
                                                        '<span class="sendType type">自提</span>'+
                                                        '<!-- <span class="sendType type">预约自提</span> -->'+
                                                    '</p>'+
                                                '</a>'
        
                                $('#hospitalBox').append(hospitalItem);
                        }
                        
                    }
                }
            })
        }


        // 获取热门医院
        getHospitalList("hot")

        // 获取医院类别
        $.ajax({
            url: baseUrl+'/api/hospital/list',
            type: 'GET',
            success: function(res) {
                for (var i = 0; i < res.length; i++) {
                    if(!provinceTypeNameNew.includes(res[i].typeName)) {
                        var type= res[i].type;
                        var typeName= res[i].typeName;
                        var provinceItemNew= {typeName:typeName,type:type}
                        provinceTypeNew[provinceTypeNew.length]= res[i].type;
                        provinceTypeNameNew[provinceTypeNameNew.length]= res[i].typeName; 
                        provinceListNew[provinceListNew.length]= provinceItemNew;
                        var provinceItem= '<option>'+res[i].typeName+'</option>'
                        $('#provincesList').append(provinceItem);
                    }

                }
                
            }
        })

        // 根据输入的医院名称或省份查询
        $('#searchBtn').on('click',function(){
            var searchText= $('.headerBar .searchBox .searchText').val();
            if(provinceTypeNameNew.includes(searchText)) {
                var type;
                for (let i = 0; i < provinceListNew.length; i++) {
                    if(provinceListNew[i].typeName == searchText) {
                        type= provinceListNew[i].type;
                    }
                    
                }
                getHospitalprovince(type);
            }else if(searchText == "" || searchText == null || searchText == "undefined") {
                getHospitalList("hot") // 搜索条件为空查询热门医院
            }else {
                getHospitalName(searchText);
            }
        })

    })
</script>